<div class="actions">
  <%= f.submit "Save" %>
  <%= f.submit "Save and Continue" %>
  <% if @objective %>
    <%= link_to 'Cancel', @objective %>
    <% else %>
    <%= link_to 'Cancel', objectives_path %>
  <% end %>

</div>